{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="underline mb-4">Formulaire Client</h1>
    <fieldset class="border p-4 rounded shadow-lg">
        <legend class="w-auto px-3 text-primary fw-semibold text-decoration-underline">
            {{ customer.customerId ? 'Modifier le client' : 'Créer un nouveau client' }}
        </legend>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-lg btn-success my-3 form-control"
                type="submit">{{ customer.customerId ? 'Enregistrer les modifications' : 'Créer le client' }}</
        >
        {{ form_end(form) }}
    </fieldset>
{% endblock %}
